body { 
	padding-top:70px;
	position:relative;
	overflow:hidden;
}
.display_none { display: none; }
.linked { cursor: pointer; }
#viewport {
	z-index:1;
}
#query { background:#FFF;}
#progress {
	position:fixed;
	top:50%;
	left:50%;
	margin:-10px 0 0 -250px;
	width:500px;
}
#datapanel-values tr td {
	overflow:hidden !important;
	word-wrap: break-word !important;
}
#datapanel .panel-body {
	overflow:auto;
	overflow-x:hidden;
	max-height:600px;
}
#hint {
	position:fixed;
	top:70px;
	left:20px;
	width:500px;
}
.tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
.tt-suggestion > p {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: nowrap;
	cursor:pointer;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}
#data-credits {
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:2;
	text-shadow:0 0 1px #FFF;
}